{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Instructions
{% endblock %}

{% block content %}

<p> <b>Overview of the study: </b> </p>
<p> For this study you will throw a set of {{Constants.numberOfDice}} dice {{Constants.num_rounds}} times. You will need to record the results of your dice throws and add them up.</p>

<p> Hence, to complete this study, you will need to have access to some paper and a pen or pencil to write down your results. You may also wish to use a calculator to add up your die throws - but we will provide one for you to use, too. If you want to throw real dice, you will need at one die which you can throw {{Constants.numberOfDice}} times, recording the results for each separate throw. Alternatively, you can also use <a href={{Constants.link}} target="_blank"> this website</a>.</p>

<p> If you like, you can experiment with the website to see that it produces a fair dice throw now.</p>

<p> Please gather all your supplies now. </p>

<div class="spacer"></div>

<p> <b> How to add up the dice throws: </b>: <br> Dice are added up just the way you would think: count the eyes on each die and simply sum up the results. <br> For example, the throw below adds up to 34. </p>

<img src="{% static "lying/example.png" %}"  />

<div class="spacer"></div>

<p> <b> How is your payment determined? </b> <br> In addition to your HIT reward of {{Constants.HIT}}, we will pay you for <b>one</b> of your {{Constants.num_rounds}} dice throws. The computer will <b>randomly</b> select one of the rounds. The selection will not depend on your answer to any question in this experiment. </p>

<p>Generally, the larger the sum of your die throws the luckier you got - we will pay you more! At most you may earn an addtional {{extra}}! The exact payment rule will differ between rounds. We will describe the rule before you report your results for each throw.</p>

<p> <b>Beliefs about others: </b> <br>
We are also interested to find out what you believe other players will have thrown. For this, we would like you to report what you think is the <b> median </b> report of all other workers completing this task who saw the <b>same</b> payment rule as you did. <br>(Quick reminder: the median is the middle number of a list of numbers, after you sorted numbers from large to small or from small to large. For example, for the 9 numbers 17,25,27,29,30,34,36,39,51, the median is 30 - four numbers are smaller than 30, and four are bigger than 30.) <br>
We will compare all guesses to the actual median after the study has been completed and will pay you an additional bonus of {{Constants.guessBonus}} if you were within plus/minus one of the true median in the round that was selected for payment! </p>

<p> <b> Survey: </b> <br>
At the end of the experiment, we will ask you a couple of quick questions about yourself. We appreciate your honest and thoughtful responses to these questions for our research! </p>

    {% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
  div.spacer {
    margin-bottom: 1cm
  }
</style>

{% endblock %}