{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Questions
{% endblock %}

{% block content %}

    <p>
        Please answer the following questions carefully. You cannot proceed unless you answer all true/false questions correctly.
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}


<div class="panel-group" id="accordion">
    <div class="panel panel-warning" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" class="btn-block" href="#collapseOne">
            Instructions -- Click to collapse
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-toggle="false">
            <div class="panel-body">
 
<small> {% include  "lying/include.html"%} </small>
        </div>
    </div>
</div>
</div>


    {% next_button %}

{% endblock %}
