{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load mathfilters %}

{% block title %}
What is the sum of your dice throws?
{% endblock %}

{% block content %}


<p> Please report the exact sum of your ten dice throws below:</p>

{% formfield player.report with label="The sum of my ten dice throws is"  %}

<p> (If you haven't thrown the dice yet or have no dice available to you right now, feel free to use <a href="https://www.random.org/dice/?num=10" target="_blank"> this website</a>. Feel free to experiment with the software to see that it is a fair dice throw - but remember to report your first throw!)</p>

<p> Recall that your payment will depend on your report in the following way: </p>

 <table class="table1" align = "center">
  <tr>
    <th class = "colA">Sum of Dice Reported</th>
    <th class = "colB"> Bonus</th>
  </tr>
  {% for i in thresholds%}  <tr>
    {% if not forloop.last %} 
    <td class = "colA"> <b>Smaller</b> than or equal to  <b>{{i}}</b>: </td>
    <td class = "colB">{{forloop.counter0|mul:BonusShare}} </td>
   {% else %} 
     <td class = "colA"> Strictly <b>larger</b> than <b>{{i}}</b>: </td>
     <td class = "colB">{{forloop.counter|mul:BonusShare}} </td>
   {% endif %}
  </tr>
  {% endfor %}
</table> 

{% if BonusThresh %}
 <table class="table2" align = "center">
  <tr>
    <th class = "colA">Sum of Dice</th>
    <th class = "colB">&emsp;Additional Bonus</th>
  </tr>
  <tr>
    <td class = "colA"> Sum <b>equal</b> to  <b>{{Constants.thresholdBonus}}</b>: </td>
    <td class = "colB">&emsp;{{Constants.extraBonus}} </td>
  </tr>
</table> 
{% endif %}

<p> What is the MEDIAN sum YOU BELIEVE others (excluding you) will have thrown? </p>
	
    {% formfield player.belief with label="I think the median of all other workers' throws is"  %}


    {% next_button %}

{% endblock %}


{% block styles %}

 <style type="text/css">
 table.table1 {
     border: 1px solid black;
     background-color: #FFFACD;
     width: 50%;
     th.colA { width: 34%;}
     th.colB { width: 16%; text-align:right;}
     td.colA { width: 34%; }
     td.colB { width: 16%; text-align:right;}
 }

 table.table2 {
     border: 1px solid black;
     background-color: #AFEEEE;
     width: 50%; 
     th.colA { width: 34%;}
     th.colB { width: 16%; text-align:right;}
     td.colA { width: 34%;}
     td.colB { width: 16%; text-align:right;}
   }

 </style>

{% endblock %}
 