{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load mathfilters %}

{% block title %}
Your Payment Rule
{% endblock %}

{% block content %}



<p> If this round is selected by the computer, your report will result in a payment according to this rule: </p>

 <table class="table1" align = "center">
  <tr>
    <th class = "colA">Sum of Dice Reported</th>
    <th class = "colB"> Bonus</th>
  </tr>
  {% for i in thresholds%}  <tr>
    {% if not forloop.last %} 
    <td class = "colA"> <b>Smaller</b> than or equal to  <b>{{i}}</b>: </td>
    <td class = "colB">{{forloop.counter0|mul:BonusShare}} </td>
   {% else %} 
     <td class = "colA"> Strictly <b>larger</b> than <b>{{i}}</b>: </td>
     <td class = "colB">{{forloop.counter|mul:BonusShare}} </td>
   {% endif %}
  </tr>
  {% endfor %}
</table> 

{% if BonusThresh %}
 <table class="table2" align = "center">
  <tr>
    <th class = "colA">Sum of Dice</th>
    <th class = "colB">&emsp;Additional Bonus</th>
  </tr>
  <tr>
    <td class = "colA"> Sum <b>equal</b> to  <b>{{Constants.thresholdBonus}}</b>: </td>
    <td class = "colB">&emsp;{{Constants.extraBonus}} </td>
  </tr>
</table> 
{% endif %}


    {% next_button %}

{% endblock %}


{% block styles %}

 <style type="text/css">
 table.table1 {
     border: 1px solid black;
     background-color: #FFFACD;
     width: 50%;
     th.colA { width: 34%;}
     th.colB { width: 16%; text-align:right;}
     td.colA { width: 34%; }
     td.colB { width: 16%; text-align:right;}
 }

 table.table2 {
     border: 1px solid black;
     background-color: #AFEEEE;
     width: 50%; 
     th.colA { width: 34%;}
     th.colB { width: 16%; text-align:right;}
     td.colA { width: 34%;}
     td.colB { width: 16%; text-align:right;}
   }

 </style>

{% endblock %}
 